.my-svg-container{
  position: relative; 
 height: 0; 
 width: 100%; 
 padding: 0;
 padding-bottom: 34%;  /* depends on svg ratio, for my zebra height/width = 1.2 so padding-bottom = 50% * 1.2 = 60% */
 
 vertical-align: middle; /* top | middle | bottom ... do what you want */
}


.my-svg{ 
  position: absolute; 
 height: 100%; 
 width: 100%; 
 left: 0; 
 top: 0;
}