html,
body {
    height: 100%;
    width: 100%;
    margin: 20px 20px;
}

.container {
    display: flex;
    align-items: center;
}

svg {
    width: 600px;
    height:  100%;
}

#blk-res {
  animation: fade 15s linear  alternate-reverse infinite;
}


.skybg {
    align-self: center;
    overflow: hidden;
    position: relative;
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.biggie {
  size:  4em;
  font-family: sans-serif;
}
